@*﻿@model IEnumerable<Employer>*@
@model IEnumerable<SEP.Models.ViewModels.EmployerVM>

@{
    ViewBag.Title = "Index";
}


<h1>ReviewExternalEmployers</h1>


<table id="tblData" class="table table-bordered table-striped" style="width:100%">
    <thead>
        <tr>
            <th>
                First Name
            </th>
            <th>
                Last Name
            </th>
            <th>
                Legal Name
            </th>
            <th>
                Trading name
            </th>
            <th>
                Registration number
            </th>
            <th>
                Status
            </th>
            <th></th>
        </tr>
    </thead>

@*     <tbody>
        @foreach (var obj in Model)
        {
            <tr>
                <td width="10%">
                    @obj.ApplicationUser.FirstName
                </td>
                <td width="10%">
                    @obj.ApplicationUser.LastName
                </td>
                <td width="10%">
                    @obj.BusinessName
                </td>
                <td width="10%">
                    @obj.TradingName
                </td>
                <td width="10%">
                    @obj.CompanyRegNo
                </td>
                <td width="10%">
                    @obj.Status
                </td>
            </tr>
        }
    </tbody>*@

@*    <td width="10%">
    @obj.Status
    </td>*@

@*    <td width="10%">
    <div class="w-75 btn-group" role="group">
    <a asp-controller="Employer" asp-action="Upsert" asp-route-id="@obj.ApplicationUser.Id"
    class="btn btn-secondary">Review</a>
    </div>
    </td>*@



</table>

<div>
    <a asp-controller="Approver" asp-action="Index" class="btn btn-secondary">Back</a>
</div>

@section Scripts{
    <script src="~/js/Employer.js" asp-append-version="true"></script>
}
